<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <!-- Python code to implement alert messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
            <button type="button" class="close">X</button>
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close">X</button>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <script src="../static/main.js"></script>

    <!-- Login Form -->

    <body>
      <div class="input-box">
        <h2>Login</h2>
            <form method="POST">
                <div class="input-fields">
                    <div>
                        <input type="text" id="uname" name="username" placeholder="Username" required>
                    </div>

                    <div> 
                        <input type="Password" id="password" name="password" placeholder="Password" required>
                    </div>
                </div>

                <br>

                <div class="submit-button">
                    <input type="submit" value="Login">
                </div>

                <br>

                <div class="account-type">
                    <p> Have an account?</p>
                    <a href="/register" class="account"> Login </a>    
                </div>
            </form>
        </div>

    </body>

</html>