<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
      <div class="input-box">
        <h2>Register</h2>
            <form method="POST">
                <div class="input-fields">
                    <div>
                        <input type="text" id="uname" placeholder="Username" required>
                    </div>

                    <br>

                    <div>
                        <input type="email" id="email" placeholder="Email" required>
                    </div>

                    <br>

                    <div> 
                        <input type="Password" id="password" placeholder="Password" required>
                    </div>
                </div>

                <br>

                <div class="submit-button">
                    <input type="submit">
                </div>
            </form>
        </div>

        <script src="../static/main.js"></script>
    </body>

</html>